[Desktop Entry]
Encoding=UTF-8
Version=0.1.2
Type=Application
Name=Cuac FM
Comment=Listen to Cuac FM over internet, and more.
Exec=/usr/bin/invoker --single-instance --type=d /opt/cuacfmeego/cuacfmeego
Icon=/opt/cuacfmeego/cuacfmeego.png
