Source: cuacfmeego
Section: user/network
Priority: extra
Maintainer: Adrian Perez <aperez@igalia.com>
Build-Depends: debhelper (>= 7.0.50), applauncherd-dev
Standards-Version: 3.8.4
Homepage: http://gitorious.org/aperez-sandbox/cuacfmeego

Package: cuacfmeego
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, qt-components,
 gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-bad,
Description: Tuner for the streaming service of Cuac FM.
 A Corunna community radio broadcasts in FM since 1996, and
 has had Internet streaming since 2001. The application allows
 to listen to the stream, podcasts of programmes, and more.
XB-Maemo-Display-Name: Cuac FM
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAQJElE
 QVR42t2aB1hUVxbHrwxFehssKB0MMyAlYCA27BIb4CYYRcWCBUtcQ5TEksTUjSZbUjaIisZEJPZo
 orjuCipqXI0pFrCgBF1b6qIbYmDf2f+Z98ABZ2AGsO39vv/3hje3nN+57dw7CNHMRFOnGn4/apSK
 Zs2yo8xMJ5o3z5kWLnShF190pVdecaPXX3enxYvV9NZbHjrxZ37H33EezstluCzXgbrMafuuJJoy
 pe7f48Z50NNPRwKgP4CS6YUXFtGzz+YDohjPMugaPffcdZo/v4oWLCBAEj3/vCz+zO/4O87DebmM
 XDZfVxfXyXVzG2irIVvuLPhTT936LIQlzZ07nd54Iw/GfQ7jL9CcOZWUkUE0ezYhL9H06UTTphGl
 pxN6jGAs0eTJRJMmEaWlyeLP/I6/4zycl8twWa6D6+I6uW5ug9viNrlt2GDItpYHnzxZf3ir0TPZ
 MOIynjd1htaHmzRJUkTN1K169J3EbXLbsg3ZsMnDkK3NTlXPPFPT20LKyPCXMjMLpZdeImnuXJJg
 lJSWJume90I1bbMtbBPbBhupnu1NTtXjxsnww4ZZV2dmTqtesKCqetYsqp4wgarHj5eqJ06k+0Js
 C9vEtrGNsJVt1mcwO/02YYIMn5jo9Nu8eZtuZmRINzFfb6amSjfHjaP7Umwb2whb2Wa2XZ/F5PTr
 qFHyEEpOjqxcuPBKJRakyrFjWZLyvJ8l28g2w3Zm0GdqNN2YNk12woABTv+ZN+/KjfHj6caoUdKN
 lBR6oMQ2w3ZmYBZ9tsbnft++1jcyMjZVYIGpePJJqWLkSHogxbaDgVmYqVHwX554QrfaV8yYkf5z
 err0U3Iy/T+IWZiJFMYG0/W0NN8fZ86s+mHECPrh8ccliB5wSczCTMxmFPxaSoru+dOkSQXXsIhc
 S0yUriUl0f+FmAVMzKbPeluqHDjQ/eqMGXRl2DC6kpBwz/V9YiL9nDQc0kE0rz4wMRsz3gZekZSk
 e/4wYcLSS2PG0KXBg6VLQ4fSvdJlCDbRukcfpVRvP5rqF0hH+/en7wHS5HqZCWzMqM+sf7BRXZw5
 8/LFQYPo4uDB91RlsCHF25uscdZKTRDUL6YVWQgL+lN4OH0HmAtNrZvZwMisteA/DhkirwFjx04r
 Hz365rcDB0rfxsfTvVD5Y4/R8X79aLinJwUHCirfLYjOQucFfZYlqLWDoNe0IXQR+cqb0gbYmJFZ
 9dl16dv09LXn4aXzAwY0qDKofOBA3fN8C+pfMHBfjx7UzcWdenUXdLUI4CWCpBOy6FtBBasEtXEX
 ND8guOltgZFZ6wz/n+Pj1edSUw+eRYazffsaVSl651ivXrS5Sxf6Kq4XXWwkv6m6gPm989FY8hQO
 lDZC0L//CeBTCvhJWbrPGA1FawR1cLegJcGhdA72mN0ebGZWZq51wKUnn4w4m5xcfrpPHzrdu7dR
 leJ7T1sbTCELao35+Yy/P5Wh0jMNlGlMXHY34NsJe3p2kqD/HgdocV34Ok7A85P3BDnZC/r44Yd1
 NpnVJvIzKzPXOuD82LH9TyUkVBbHxVFxz54GVYbC6ViYfL3kntj8jqD2bQUFOtrS3thYKmmgrDGd
 QpkirPQaO0eaOkqGNwR+m9D+W3MF2bYWlBcRSSdRl8ntIx+zMnOtA0omTkw+iblxEnPQmMox9Hu4
 utLscfJ8pFJB1ccEjcUq7WNvQ6s7h1FJA+X1dRqGnIUh+dHRpAX86OGCfv3SBHC9UcAL45tzBHm2
 EzSmjRftRyecQr2mtM+szCyv/n36qEpGjFh0DHPjWNeuEkSGVNajJ0U5OdFzU+TGdYYoQ/UNGNLe
 3oo+ghNOde9OxuoowXfnYMA6bGe/c29PjsKWpowUVPnVrQXPZCeckDvh6EZBQ3oJ8reyp5WhoXQW
 9RtrX5HErMzM7OJ8UpJdcWJi/lfo4a9jYyWIDOlct24UbGdHr81Gw+fq9QaM5/e2lq1ofVgYncSw
 1i97HH+fQuN/DQ6mUHsHssQaMryvoC83Cbr5db26TpruhJoyv8KBr/5eoN5W9IfAQDqDtoxxMCOz
 MjOzi9PDhzudGDq0+CgKHcXqbkxnYjFX7e1pQbreCNA3pFzQ3AmC7OGEj0NC6etHHqHDGOIFkZH0
 sp8/+ThYky0WrinJgi4WKE4sNh/cqCMwLVe/Lkhlgc7A4nwM7RvlASszM7soHj7c+ZvBg8sOx8TQ
 kagoozqOgtM9O1BIJ2UNMGQEnLBgKtYE7BRLAvwpxb0d+bpYUZdozNdMQRWHlbIldXuwJaSrq0zQ
 8lcE+ans6O+YZsZYmJWZmV0cT0py+So+/uoh9NahiAijOoKe3KrVkspW6cES40Ny3hTdtQJ16yJo
 z2pB148oEV1xy0IbcsIvRxEsuQpa4utP/4TNBnnAyszMLr5OSnL9YsCAigP44iDmb0M6Cq96O6oo
 +yV5AaoPoz8nH+sBB0TWXS/uNDw7OXeJ7PxXfLzpcyMczMrMzC6+SEx0O9SvX1VR585UFBLSoA5i
 lX2ufQfqrFVCVWOGFMvD/fhW+fOdgtZXNWKIFRj+KpWgIB/sTIhZ9mMtMsgCVmZmdnEoIcH9AKKj
 PRoN7TVBBVjJo1s70ItPNRKxFd8ezrZ4j/Pn04JObBM0FFthJ19Bb8+HA1ytaIWvH+0zwsCszMzs
 Yv+wYep92BYKOnUySYXQe17e2Pct6NMseeG508PbIHipPOTfnifIu72gGSmCfsYZYg52onCVPe1u
 hIOZmV3sGTrUoxAR1O6AANodFGSS9kBPqT3I0lLQuwvklf1uOEFXf4k8sta+KcgL4B5ugnZkyw7Z
 +Bc5FliO4b+nIQawMjOzi4JBgzz+gSBnl58f7cL+aaqKEHC83K4dWWHBmT/lVkDTEgvebeUxnaoQ
 dl8/LJ9Bgv0FOeNuYPEzikNOyxGhHc4Gsz08aB9sa9B+sDIzs4sCHAv/jkhtp48P7fT1NVn5UCEq
 eh+XF/5W1jQoTtAWnNJ++lxZ+U/X3SqNOaT2ffEtGN2WeU4OkY9/ImjDnwVljBfUGTGINkAG5+1O
 1w5Gw64cQR3VgkY6O9Ne2JTfmP1gZWZmFwX9+rnvQmCwHcNmu5eX2cpHudwOHSjN3pX8bC0pElvf
 jDHysOR4QQd4EbogrxccReqe5co75btKHIaKPxO0c5mg7EWCZmJOx4Qhxsfps/cjgjLTcAx+V9B3
 B5T5XyKXW/sWDkSYBpMcXSnfVLthMzMzuyjo3dvtb126VG3r2JE+BUhTtQ1a3749LXJXUx8HW3K2
 k6+w3JwFtUPvxIQLShki6OlUQRNw+hsSJwMGeQtqi1seV+RztJfP+ZbYynw8cd7/I4D3y4EUnzxr
 t1T0+i9wGJ8nbKxRp7MrbTfHVrAyM7OLgrg4151RURWf4ItPMKebq21wwg5oO7SqTRtqjXm5MF0+
 rKQmCuobK5/jlX85MKjuUYK+PyCD6q8D/z0hO4OHfAcPjA5LS8pBG9yWWXaClZmZXRR07+6SHxl5
 dTPm8pa2bVtMf0NDT+DwFBqszFUe+v8StP5PDcN3jcDUKVTKlMpTg/8+mIdLEGx5PRBetxEqSrVz
 oE/RxtYm2MaszMzsoqBrV+cd4eFlG1HZRrW62doEbcNK/IKzkw5oP+7w6Iw8Z298IcjBzjh8nxhB
 l/fK2+ohACdjynR7FKs+Is8AdSvqKmxoNi5QslzdaAva2NRUO8HKzMwuCmNinLaHhRWvg2fWu7k1
 Wxuhsba2hIt3WvGy3rw9L19cGIMf1FMZ9nDU+V2CHnpIUH9rG3rW3pHec3ahVS4ulIsbqQ0tYCOz
 MjOzi6LoaLvPOnfOz8PLPGdnCSJz9TG0BnrP0YliMC/bIkDZu/pWKMzb2fSRcpxeH5zP7xzG6o7K
 xfIq37crel5Y01rUuU6pP6/lJDErMzO7KImIUG2JiFi0BsMi19FRgshUrYU+dHCkTBs7ihVW5IMt
 azQWukt75B7nw9Cyl+RFzVjPj0sS9Ns38pznbTMO00CLG+cVDg66+nNbXhKzMjOz6+4F13XpkrwG
 C8OHuPIyVR9By2ztKEqlogDcDr+G4OSbLfLNbh725uTH5FNZQwvekjlKnAD4M/mCQkMFRWGBW4a6
 c82wxVwxKzPX3gpve/jh/rkdO1Z+0Lo1mao8KF5lSeFY5X86pICckcPihqBZ1laCPlqs7O3KnO+E
 OR9noaKVqHe1GXY0RczKzLUOKIyMjFjj41OeY2NDOVZWJikP4a8fDh4vzqh7S3xkAyKzNghq7OT5
 rQ9uayPIFwHOkfW3rtULsVa4OQrqiYvSFSa23SyBkVmZ+dbvAhER6tUBAQeXI8NyDGlT9CEUDwfE
 Riixe01crwQvO5bK94NPxAtK6icoAVHbO/Pl2yIOha/uw9F1MqJFOCalVSvKMbHdZguMzMrMdX4f
 /ECjWZttbU348dwkLYPe5F7FcF75qhKf17uo0L0rVZxS8zdGy4FcQREIjUNR/nkoB8o2sd3mihmZ
 tRb8sEaje+aHhk7LVqtvZuE/YiEyRWz0dMjZVTmTn6rrhDonQMBX4MJixmj52Po4yr2tGJV19yQx
 I7Pqs8v/IIFfSVYEBV3OMsObNXnHKHN87kRB14rkeP0/R2X9iOPxSZzyZo3hywocW6E5HCTdpR6v
 by8zMmud4V/jiU+12qXvI1hAZsmcihlmLtQJcoXisO8nYN4P6YN3OOk541049HvoA2i5Xq/cRQdI
 zMaMt/V+TSrVat1X4MKgKaOgBuoFKB1KU8SOWaysGcvrlbnrvQ82ZjT4H2I7EHxz2hwUVPA+ggVz
 R0FWC+W5Y70PJmbTZzWYdmq1viu9vauysGVkmemE+1G6RR0szMRsDf6XKM8LCg8XmzWa9GVqtZT1
 gMPXjDpmYSZmMzj366fvoqKs8x56aNNSHEiWPtijQGIGZmEmk/5TfEunTvJ/jYWFOa0KCrqShePt
 A+oEiW1nBmbRZ2s0HQgO1j2PBAdHrkQF7MWsGo8+COD8hM1sOzPoM5mcCpQCpfBeLoZQNq8JWEzu
 cyfobGRb2eZSpecLzIWvSUVKwYvR0dYbNJppOV5eVbyd3IejQdfrbBvbyLayzfoMTU4blHlDYWFi
 W3Cw/4agoMJl+GUlC1HVfeAI+dwCW9gmto1tZFv1bW+RtEcveDiq0aixrWQvCwy8zIeLpThiZllY
 UBaOtXohrtRCzpGW6h/QuA20xW1y22wD2/KFRuNhyNYWTzv1hhRFR1tuDQmZnhMcnJfj6/v5Sk/P
 CzlqdWU2jw78JpCFywdeiXVBFauek26TAlebn8tyHaiL6+S6dW2gLW6T22YbDNl2x9Puel4+HBrq
 sSM0NHJ9SEj/lVpt8keBgYvW+vnl53p7F6/x9i770Mvr2uqOHa+v6tChKge/zCyHluIXHRZ/5nf8
 HefhvFyGy3IdXBfXyXVzG9xWQ7bc1WSs8S+1WhVCT7utGo3TZq3Web1G45Kn0biu0WrdPsCBJEer
 VWdj2LL4M7/j7zgP5+UyXJbr4LrMaduc9D+MGR5LeECHCgAAAABJRU5ErkJggg==

Package: cuacfmeego-dbg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cuacfmeego (= ${binary:Version})
Description: Tuner for the streaming service of Cuac FM.
 A Corunna community radio broadcasts in FM since 1996, and
 has had Internet streaming since 2001. The application allows
 to listen to the stream, podcasts of programmes, and more.
 .
 This package contains the debugging symbols for Cuac FM. It
 is only needed for development purposes.
